- var imgPath = '../../../../assets/img/profile.svg'

div.profile
  div.profile__header
    img.profile__header_img(src='')
    h1 Profile
  p.
    Lorem ipsum, dolor sit amet consectetur adipisicing 
    elit. Harum nesciunt natus earum minima aut unde 
    praesentium corporis minus sunt illo id, accusamus, 
    tempora labore ea saepe? Eos molestiae fuga fugiat 
    rerum atque amet molestias dignissimos voluptatibus, 
    aspernatur, praesentium id vel quisquam vero nobis 
    obcaecati dolore impedit iure? Rem similique exercitationem 
    ratione delectus in quod optio nostrum? Deserunt magnam dolor
    dolores iste velit necessitatibus consequatur quia, voluptate
    quae quisquam quaerat minus accusantium. Assumenda facilis 
    saepe quos delectus. Quos eius ratione cum, explicabo, fugit
    ad est excepturi possimus velit autem animi neque! Non ex 
    dignissimos aliquid quo eaque aperiam, blanditiis beatae 
    reprehenderit!
